---
layout: default2
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry" class="box">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="manopla">
    <img id="gauntlet" src="https://raw.githubusercontent.com/leonardomath/Thanos-Infinity-Gauntlet/master/img/1.png" onclick="trick()">
</div>

<section class="container">
        <section id="b1" class="box">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
            <a href="https://github.com/leonardomath/Thanos-Infinity-Gauntlet" target="_blank">https://github.com/leonardomath/Thanos-Infinity-Gauntlet</a>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias libero velit consectetur expedita magni. Debitis alias voluptas impedit quasi libero fugit id iusto, mollitia nulla. Similique sunt commodi libero voluptates.</p>
        </section>

        <section id="b2" class="box">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
            <a href="https://github.com/leonardomath/Thanos-Infinity-Gauntlet" target="_blank">https://github.com/leonardomath/Thanos-Infinity-Gauntlet</a>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias libero velit consectetur expedita magni.
                Debitis alias voluptas impedit quasi libero fugit id iusto, mollitia nulla. Similique sunt commodi libero
                voluptates.</p>
        </section>

        <section id="b3" class="box">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
            <a href="https://github.com/leonardomath/Thanos-Infinity-Gauntlet" target="_blank">https://github.com/leonardomath/Thanos-Infinity-Gauntlet</a>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias libero velit consectetur expedita magni.
                Debitis alias voluptas impedit quasi libero fugit id iusto, mollitia nulla. Similique sunt commodi libero
                voluptates.</p>
        </section>

        <section id="b4" class="box">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
            <a href="https://github.com/leonardomath/Thanos-Infinity-Gauntlet" target="_blank">https://github.com/leonardomath/Thanos-Infinity-Gauntlet</a>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias libero velit consectetur expedita magni.
                Debitis alias voluptas impedit quasi libero fugit id iusto, mollitia nulla. Similique sunt commodi libero
                voluptates.</p>
        </section>

        <section id="b5" class="box">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
            <a href="https://github.com/leonardomath/Thanos-Infinity-Gauntlet" target="_blank">https://github.com/leonardomath/Thanos-Infinity-Gauntlet</a>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias libero velit consectetur expedita magni.
                Debitis alias voluptas impedit quasi libero fugit id iusto, mollitia nulla. Similique sunt commodi libero
                voluptates.</p>
        </section>

  {% include disqus.html %}
</article>

<script src="js/jquery.js"></script>
<script src="js/Gauntlet.js"></script>
